<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Universal Color Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <img (click)="getColor($event)" *ngIf="photoService.lastPhoto" id="image"
      [src]="sanitizeImageUrl(photoService.lastPhoto.webviewPath)">

    <div id="color-preview" [style.background-color]="'rgba('+ r + ',' + g + ',' + b + ',' + a + ')'"></div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>