<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Universal Color Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Universal Color Picker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item-sliding class="color-item" *ngFor="let color of colors">
      <ion-item>
        <ion-label class="color-label">
          <h1>{{color.name}}</h1>
          <p>{{color.description}}</p>
        </ion-label>

        <ion-label class="color-value-text" item-end>
          <p>{{color.value}}</p>
        </ion-label>

        <ion-avatar [style.background-color]="color.value" item-end (click)="copyVal(color)"></ion-avatar>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeColor(color)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="welcome-container" *ngIf="colors.length === 0">
    <strong>Press the button below to pick a color!</strong>
  </div>
</ion-content>